<div class="avis-box">
    <h1 class="avis-box-title">Avis de notre clientèle</h1>
    <div class="avis-box-comment">
        <div class="avis-box-comment1">
            <img class="" alt="Responsive image"
                src="{{ asset('assets/images/cadre.png') }}">
            <div class="avis-box-text">
            <img class="avatar" src="{{ asset('assets/images/avatar.png') }}">
                <p class="avis-box-name">- Joel</p>
        </div>
        </div>
        <div class="avis-box-comment1">
            <img class="avis-box-img" alt="Responsive image"
                src="{{ asset('assets/images/cadre.png') }}">
            <div class="avis-box-text">
            <img class="avatar" src="{{ asset('assets/images/avatar.png') }}">
                <p class="avis-box-name">- Joel</p>
            </div>
        </div>
    </div>
</div>

