<div class="box-info">

    <div class="box-info-box">
        <a class="info-link" data-toggle="modal" data-target="#basicModal" href="#">
    <div class="box-info-text">
        <img class="" alt="Responsive image"
             src="{{ asset('assets/images/map.png') }}">
        <div class="box-text">
        <h2> Notre adresse</h2> <br>
        <p> 5 Rue du Bout aux plaids <br>
            27930 Sacquenville</p>

        </div>
    </div>
        </a>
        {% include'map/index.html.twig' %}
    <div class="box-info-text">
        <img class="" alt="Responsive image"
             src="{{ asset('assets/images/phonebas.png') }}">
        <div  class="box-text">
        <h2> Nous contacter</h2> <br>
        <a class="box-text-link"  href="tel:+33787953786">06 87 80 57 18</a>
    </div>
    </div>
    <div class="box-info-text">
        <img class="" alt="Responsive image"
             src="{{ asset('assets/images/mailbas.png') }}">
        <div  class="box-text">
        <h2>Notre mail</h2> <br>
        <a class="box-text-link" href="mailto:johan27000@gmail.com">rgbn-stephanegicquel@orange.fr</a>
    </div>
    </div>
    </div>
</div>

