<div class="box-partenaire">
    <h1 class="box-partenaire-title  team-title">Nos partenaires</h1>
<div class="body-slide">
    <div class="slider">

        <div class="slide-track">
            {% for partners in partner %}

            <div class="slide">
                <a href="{{ path('partner') }}">
                <img src="{{ asset('uploads/' ~ partners.image.name) }}" height="200" width="250" alt="" />
                </a>
            </div>

            {% endfor %}

            {% for partners in partner %}
                <div class="slide">
                    <a href="{{ path('partner') }}">
                    <img src="{{ asset('uploads/' ~ partners.image.name) }}" height="200" width="250" alt="" />
                    </a>
                </div>
            {% endfor %}
        </div>

    </div>
</div>
</div>