<div class="box-partenaire">
    <h1 class="box-partenaire-title">Nos partenaires</h1>
<div class="body-slide">
    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                {% for partners in partner %}
                <img src="('uploads/' ~ partners.images[3].name)" height="200" width="250" alt="" />
            </div>
            {% endfor %}
            <div class="slide">
                {% for partners in partner %}
                <img src="('uploads/' ~ partners.images[0].name)" height="200" width="250" alt="" />
            </div>
            {% endfor %}


        </div>
    </div>
</div>
</div>