<main>
        <div class="service_box" style="margin-top:200px">

                <h1 class="service_title">Réaliser votre projet <br> n'a jamais été aussi simple</h1>
                <img class="img-fluid" alt="Responsive image, photo 1 services"
                        src="{{ asset('assets/images/img1.png') }}">
                <img class="img-fluid" alt="Responsive image, photo 2 services"
                        src="{{ asset('assets/images/img2.png') }}">
                <img class="img-fluid" alt="Responsive image, photo 3 services"
                        src="{{ asset('assets/images/img3.png') }}">
                <img class="img-fluid" alt="Responsive image, photo 4 services"
                        src="{{ asset('assets/images/img4.png') }}">

        </div>

