<div class="team_container">
    <div class="team_box">
        <div class="team_img">
            <img class="shape_img" alt="Responsive image, équipe"
                 src="{{ asset('assets/images/Shape.png') }}">
            <img class="worker_img" alt="Responsive image, équipe"
                 src="{{ asset('assets/images/worker.png') }}">
        </div>
            <div class="team_text">
                <h1>Une équipe de passionés</h1>
                <p class="p_text">Compétences et communication sont les maîtres-mots de notre réussite. C'est de votre écoute que naît la réflexion et de l'échange de compétences que se bâtis un projet.
                Quelques soient votre projet, notre équipe trouvera est adaptera les solutions spécifiques à vos besoins.</p>
                <div class="puce_box">
                    <div class="icone_box"><img class="icone_img" alt=""
                              src="{{ asset('assets/images/puce.png') }}"></div>
                    <div class="ul_box p_text"><ul>Compétences</ul>
                        <ul>Communication</ul>
                        <ul>Qualité</ul></div>
                    <div class="icone_box"><img class="icone_img" alt=""
                              src="{{ asset('assets/images/puce.png') }}"></div>
                    <div class="ul_box p_text"><ul>Passionnés</ul>
                        <ul>Qualifiés</ul>
                        <ul>Innovant</ul></div>

                </div>
                <p class="p_text"> Nous sommes qualifiés
                    <a href="">Handibat </a> et pouvons de ce fait vous conseiller et réaliser les aménagements personnalisés d'accés ou de confort de vie pour toute personne souffrant d'une perte de mobilité permanente, passagère ou évolutive.</p>
            </div>
    </div>
</div>

