
/*           Header         */
.container_header {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}
.header_box1 {
    width: 30%;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.header_box2 {
    width: 70%;
    display: flex;
    flex-direction: column;
}
.header_subBox1 a{
    color: black;
    font-size: 18px;
}
.header_subBox1{
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_subBox2 {
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    font-size: 20px;
}
.header_subBox2 a {
    color: black;
}
.header_link1 {
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.header_link2 {
    margin-right: 120px;
}
.btn-nav {
    background: url("../images/button.png");
    height: 50px;
    width: 180px;
    border: hidden;
    margin-right: 20px;
}
/*           Services        */

.service_box{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 400px;
    width: 100%;
}
.service_box img {
    width: 25%;
}
.service_title{
    width: 100%;
    margin-top: 60px;
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}
.service_box2 {
    width: 170%;
    height: 300px;
    margin: 0 auto;
    box-shadow: 0px 4px 8px 0px rgba(85, 85, 85, 0.2);
    transform:  translate(-500px, 30px);
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.service_box-content {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.service_box-content-title{
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.service_box-content-p{
    font-size: 13px;
    color: #555555;
}

/*           Team        */

.team_container{
    background-color: #F1F1F1;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.team_box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 80%;
}

.team_img {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.team_text {
    width: 50%;
}

.team_img img {
    position: absolute;
}
.team_text h1 {
    font-weight: bold;
    font-size: 35px;
}
.p_text {
    color: #8B8B8B;
}
.worker_img {
    height: 400px;
}
.shape_img{
    width: 500px;
    height: 300px;
}
.puce_box{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}
.ul_box{
    margin-left: 15px;
}
.icone_img{
    margin-left: 50px;
}
.icone_box{
    margin-top: 4px;
}

/*           realisation        */

.realisation_box {
    width: 100%;
    height: 500px;
   text-align: center;
}
.realisation_box h1 {
    font-weight: bold;
    font-size: 50px;
    margin-top: 70px;
}

.carousel-wrapper{
    height:400px;
    position:relative;
    width:1200px;
    margin: 50px auto 0 auto;
}
.carousel-i{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding:25px 50px;
    opacity:0;
    transition: all 0.5s ease-in-out;
}
.carrousel-box{
    margin-right: 20px;
}
.carrousel-box h2{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 350px;
    position: absolute;
    width: 31%;
    color: white;
    font-weight: bold;
}
.arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev{
    left:-30px;
    position:absolute;
    top:50%;
    transform:translateY(-50%) rotate(135deg);
}

.arrow-next{
    right:-30px;
    position:absolute;
    top:50%;
    transform:translateY(-50%) rotate(-45deg);
}

.light{
    color:white;
}

@media (max-width: 480px) {
    .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
    }
}
/*Select every element*/
[id^="item"] {
    display: none;
}

.item-1 {
    z-index: 2;
    opacity: 1;
    background-size:cover;
}
.item-2{
    background-size:cover;
}
.item-3{
    background-size:cover;
}

*:target ~ .item-1 {
    opacity: 0;
}

#item-1:target ~ .item-1 {
    opacity: 1;
}

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
}

/*           avis        */

.avis-box {
    width: 100%;
    height: 600px;
    text-align: center;
    background-color: #F1F1F1;

}

.avis-box-title{
    font-weight: bold;
    font-size: 50px;
    margin-top: 70px;
    padding-top: 60px;
}

.avis-box-comment{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.avis-box-comment1{
    margin-top: 50px;
    width: 40%;

}
.avatar {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin-left: 60px;
    margin-top: 10px;
}
.avis-box-text {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.avis-box-name {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
}



/*           partenaires        */

.box-partenaire {
    width: 100%;
    height: 300px;
    text-align: center;
    background-color: white;
}
.box-partenaire-title{
    font-weight: bold;
    font-size: 50px;
    margin-top: 70px;
    padding-top: 60px;
}
.body-slide{
    background: white;
    height: 250px;
    justify-content: center;
    margin-top: 100px;
}
@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}
.slider {
    background: pr;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}
.slider .slide {
    height: 100px;
    width: 250px;
}
.slider .slide img {
  padding-left: 60px;
}
/*           infos        */
.box-info {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    margin-top: 200px;
    background: url("../../assets/images/rectangle.png");
}
.box-info-box{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    box-shadow: 0px 4px 6px 0px rgba(85, 85, 85, 0.2);
}
.box-info-text {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    height: 110px;
}
.box-info-text img{
    height: 70px;
    margin-top: 25px;
}
.box-text {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.box-text-link{
    color: white;
    width: 300px;
    font-size: 20px;
    font-weight: lighter;
}
/*           footer        */

.box-footer {
    width: 100%;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.box-footer-content{
    width: 33%;
    display: flex;
    justify-content: center;
}
.box-footer-box{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box-footer-box-line{
    width: 30%;
    height: 5px;
}
.box-footer-box-title {
    font-weight: bold;
    font-size: 20px;
    color: #555555;
}
.box-footer-box-link {
    text-decoration: none;
    color: #555555;
}
.box-footer_box-p{
    color: #555555;
}
.box-footer-box-logo{
    margin-top: 30px;
}
.box-footer_box-p-link{
    color: #555555;
}
/*           admin        */

.admin-link {
    text-decoration: none;
}
.container_project_read {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row_project_read {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.box-project_read_content_title {
    color: #555555;
    border-bottom: solid 1px #0f74a8;
}
.box-project_read_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avatar_project {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.link_project{
    width: 100px;
}
.row_project_img{
    width: 50%;
    height: 50%;
}
.container_project_img{
    width: 100%;
    height: 100%;
    display: flex;
}
.container_login{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.box_login {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: 100%;
}
.container_contact{
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.box_container {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: 100%;
}
.box_contact h1 {
    color: #555555;
    display: flex;
    justify-content: center;
}

.card-panel{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow .25s;
    padding: 20px;
    margin: 5rem 0 2rem 0;
    border-radius: 2px;
    background-color: #fff;}

.hoverable:hover {
    transition: box-shadow .25s;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%; }

@media only screen and (min-width : 601px) {
    .container {
        width: 85%; } }

@media only screen and (min-width : 993px) {
    .container {
        width: 70%; } }

.container .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem; }

.row {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;}

.row:after {
    content: "";
    display: table;
    clear: both; }

.row .col {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0.75rem; }

.row .col.s4 {
    width: 33.33333%;
    margin-left: 0; }
.row .col.offset-s4 {
    margin-left: 33.33333%; }
.row .col.pull-s4 {
    right: 33.33333%; }
.row .col.push-s4 {
    left: 33.33333%; }

.grayscale img{
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);}

.grayscale img:hover{
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);}

img.logo {
    width:30px;
}

img.responsive-img {
    max-width: 100%;
    height: auto; }

.box_page_partner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
.flex-container .card {
    box-sizing: border-box;
    margin: 0.25em;
    max-width: 252px;
    min-height: 306px;
    width: 100%;
    border-radius: 15px;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.flex-container .card .card-title {
    box-sizing: border-box;
    flex-basis: 100%;
    margin: 0;
    padding: 1em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    color: #fff;
    cursor: pointer;
    -webkit-transition: height 1s;
    transition: height 1s;
    width: 100%;
    position: absolute;
}
.flex-container .card .card-title:hover {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    height: 80%;
    width: 100%;
}
.p_project {
    margin-top: 50px;
    font-size: 30px;
    color: #555555;
    display: flex;
    justify-content: center;
}
