{% extends 'base.html.twig' %}

{% block title %}Ajouter une catégorie{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    {% include'admin/nav.html.twig' %}
    <a class="link_project" href="{{ path('admin_categorie_home') }}">
        <img class="avatar_project" src="{{ asset('assets/images/return.png') }}">Retour à la liste</a>
    <h1>Ajouter une catégorie</h1>
    {{ form(form) }}
{% endblock %}