{% extends 'base.html.twig' %}

{% block title %}modifier catégorie
{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    {% include'admin/nav.html.twig' %}
    <h1>Modifier la catégories</h1>
    {{ form(form) }}

{% endblock %}
