{% extends 'base.html.twig' %}

{% block title %}page des projet{% endblock %}

{% block body %}
    {% include'home/header.html.twig' %}
    <div class="flex-container">
        {% for categorys in category %}
        <div class="card">
            <a href="{{ path('category_read', {id: categorys.id}) }}">
                <p class="card-title">{{ categorys.name }}</p>
                <img class="responsive-img" src="{{ asset('uploads/' ~ categorys.image.name) }}">
            </a>
        </div>
        {% endfor %}
    </div>
    {% include'home/footer.html.twig' %}
{% endblock %}
