{% extends 'base.html.twig' %}

{% block title %}page des projet{% endblock %}

{% block body %}
    {% include'home/header.html.twig' %}
    <div class="flex-container">
        {% for p in project %}
            <div class="card">
                <a href="{{ path('project_single', {id: p.id}) }}" target="_blank">
                    <p class="card-title">{{ p.title}}</p>
                    {#<img class="responsive-img" src="{{ asset('uploads/' ~ p.image.name) }}#}">
                </a>
            </div>
        {% endfor %}

    </div>

    {% include'home/footer.html.twig' %}
{% endblock %}
