{% extends 'base.html.twig' %}

{% block title %}modifier partenaire
{% endblock %}

{% block body %}
    {% include'admin/nav.html.twig' %}
    <h1>Modifier le partenaire</h1>
    {{ form(form) }}

{% endblock %}